---
import Layout from "@/layouts/Layout.astro";
import { getEntry, render } from "astro:content";

// get slug from URL
const { slug } = Astro.params;

// Tell TypeScript the collection type!
const entry = await getEntry<"dichotomies">(slug);
if (!entry) throw new Error(`Entry not found: ${slug}`);

const { Content } = await render(entry);
const { title, description } = entry.data;
---

<Layout title={title} description={description}>
  <article class="prose mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">{title}</h1>
    <p class="text-lg mb-6">{description}</p>
    <Content />
  </article>
</Layout>
