---
import { getEntry } from "astro:content";
import { useParams } from "astro/runtime";

const { slug } = useParams();
const entry = await getEntry("functions", slug);

if (!entry) throw new Error(`Entry not found for slug: ${slug}`);
const { Content } = await entry.render();
const { title, description } = entry.data;
---

<Layout title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p>{description}</p>
    <Content />
  </article>
</Layout>
